@import './base.css';
body {
    font-family: Rajdhani, ui-sans, system-ui, Helvetica, Arial, sans-serif;
    color: var(--text-color-body-white);
}

body {
    position: relative;
    width: 100%;
    background-image: url('/shared-images/border_left.png');
    background-color: var(--background-menu-color);
    background-attachment: scroll;
    background-position: top left;
    background-repeat: repeat-y;
    background-attachment: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-rendering: optimizeSpeed;    
}

footer {
    width: 100%;
    margin-top: 3rem;
}

main {
    margin-left: 10vw;
    width: 90%;
    min-height: 70vh;
    background-color: var(--background-content-color);
    padding: 1rem;
}

@media screen and (max-width: 900px) {
    body {
        background: var(--background-body-color);
    }
    main {
        margin-left: 0;
        margin-top: 5rem;
        width: 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Fjalla, sans-serif;
    text-transform: normal;
    color: var(--text-color-body-white);
    font-weight: 100;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

a {
    color: var(--link-footer-color);
}

button {
    cursor: pointer;
}

.button {
    background-color: var(--button-body-color);
    color: var(--button-text-color);

    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.05rem;
    white-space: nowrap;
    border: 3px solid var(--button-accent-color);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--button-accent-color);
}

.background {
    position: fixed;
    width: 100vw;
    opacity: 0.8;
    top: 0px;
    margin: 0px;
    min-height: 200px;
    height: 100%;
    background-color: #000;
    z-index: 199;
    left: 0px;
}

.selection-list {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: clamp(30%, 60%, 90%);
    height: clamp(40%, 80%, 100%);
    padding: 2em;
    background-color: var(--background-menu-color);
    color: var(--text-color-footer-gray);
    z-index: 200;
    text-align: center;
    overflow: auto;
}

.close {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    color: var(--tertairy);
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: 3em;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.close:hover {
    font-size: 3.5em;
    color: var(--tertairy-accent);
}

.active {
    background-color: var(--background-stripe-color);

}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 14rem;
    height: 1rem;
    background: #d6d6d6;
    outline: none;
    transition: all 0.2s ease;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    background: var(--button-body-color);
    border: 2px solid var(--button-accent-color);
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 1.7rem;
    height: 1.7rem;
    background: var(--button-body-color);
    border: 2px solid var(--button-accent-color);
    cursor: pointer;
}

input[type='range']:hover::-moz-range-thumb {
    background: var(--button-accent-color);
}

input[type='range']:hover::-webkit-slider-thumb {
    background: var(--button-accent-color);
}
#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 1rem solid var(--text-color-menu-white);
    border-radius: 50%;
    border-top: 1rem solid var(--minor-accent-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.leaflet-popup-content {
    max-height: 50vh;
    width: 40vw;
    overflow: auto;
    background-color: var(--background-menu-color);
    color: var(--text-color-menu-white);
}

.leaflet-popup-content-wrapper {
    background-color: var(--background-menu-color) !important;
    border: none !important;
    padding: 1rem 0.5rem !important;
}

.leaflet-popup-tip {
    display: none;
}

.marker {
    -webkit-filter: drop-shadow(2px 2px 0 var(--rarity-color-exotic)) drop-shadow(-1px -1px 0 var(--rarity-color-exotic));
    filter: drop-shadow(2px 2px 0 var(--rarity-color-exotic)) drop-shadow(-1px -1px 0 var(--rarity-color-exotic)) contrast(1.5);
}

.item-image {
    width: 1rem;
    display: inline-block;
}

.common {
    color: var(--rarity-color-common) !important;
}

.uncommon {
    color: var(--rarity-color-uncommon) !important;
}

.rare {
    color: var(--rarity-color-rare) !important;
}

.epic {
    /* This color is hard to read on dark backgrounds, so we change it a little bit. */
    color: #733aa8 !important;
}

.exotic {
    color: var(--rarity-color-exotic) !important;
}

.legendary {
    color: var(--rarity-color-legendary) !important;
}

.map-label {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.map-label-text {
    z-index: 20 !important;
    color: var(--text-color-menu-white);
    letter-spacing: 0.2ch;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Rajdhani', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
}

.leaflet-tooltip {
    background-color: transparent !important;
    border: none !important;
    padding: 1px !important;
    box-shadow: none !important;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes bounce {
    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 4px, 0);
    }
}

.apply-bounce {
    animation: bounce 0.82s cubic-bezier(0.4, 0, 0.2, 1) both;
}

::-webkit-scrollbar {
    width: 7px;
    border-top: blue;
    border-bottom: blue;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1b262e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--minor-accent-color);
    border-radius: 2px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    filter: brightness(300%);
}

.leaflet-popup-scrolled {
    border-bottom: 0px;
    border-top: 0px;
}

.leaflet-popup-content table {
    border-spacing: 1rem 0;
    border-collapse: separate;
}

.leaflet-tile {
    filter: brightness(0.8) !important;
}

@keyframes pulse {
    0% {
        filter: brightness(100%) blur(1px)
    }
    50% {
        filter: brightness(110%) blur(0px)
    }
    100% {
        filter: brightness(100%) blur(1px)
    }
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.modal__content {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--background-content-color);

    overflow-y: scroll;
    overscroll-behavior: contain;
}

.modal__small {
    width: fit-content;
    height: fit-content;
}

.modal__close-button {
    position: absolute;
    top: 0rem;
    right: .1rem;

    font-size: 3rem;
    color: var(--rarity-color-exotic);
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .modal__bg {
        top: 6%;
        z-index: 100;
    }
    .modal__content {
        width: 100%;
        padding-bottom: 100%;
    }

    .modal__close-button {
        font-size: 3rem;
        top: 1.6%;
        right: 5%;
        color: red;
    }
}
.modal-enter-active,
.modal-leave-active {
    transition:  all .5s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
    /* scale: 1.1 !important; */
    translate: 0 100vh;
}

.no-pointer {
    pointer-events: none;
}

.Vue-Toastification__toast {
    border-radius: 0 !important;
}

.Vue-Toastification__toast--info {
    background-color: var(--rarity-color-rare) !important;
    color: var(--primary);
}

